body {
    background-image: url("dcabb7fbb2f763d680d20a3d228cc6f9.jpeg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 550px;
}

.crt {
    width: 600px;
    height: 200px;
    left: 30px;
    padding: 10px;
    border: 5px solid hwb(58 2% 7%);
    margin: 300px;
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 0x;
    }
}

.button {
    height: 30px;
    width: 100px;
}

.text {
    align-content: center;
}